@page "/"
@using ExcelWizard.Service
@using BlazorDownloadFile
@using ExcelWizard.Models.EWExcel

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<button @onclick="GenerateExcelReport"> Export Excel </button>

@code {

    [Inject] private IExcelWizardService ExcelWizardService { get; set; } = default!;

    private Task<DownloadFileResult> GenerateExcelReport()
    {
        var fetchDataFromApi = new List<AppExcelReportModel>
        { 
            new() { Id = 1, FullName = "Cristiano Ronaldo", PersonnelCode = "980923" },
            new() { Id = 2, FullName = "Roberto Carlos", PersonnelCode = "991126" },
            new() { Id = 3, FullName = "Batistutta", PersonnelCode = "941126" }
        };

        var excelBuilder = ExcelBuilder
            .SetGeneratedFileName("my-custom-report")
            .CreateGridLayoutExcel()
            .WithDataBinding()
            .AddBoundSheet(fetchDataFromApi)
            .AddAnotherBoundSheet(fetchDataFromApi, "custom-1")
            .AddAnotherBoundSheet(fetchDataFromApi, "custom-2")
            .Build();

        return ExcelWizardService.GenerateAndDownloadExcelInBlazor(excelBuilder);
    }
}